{% extends "layout.html" %}
{% block content %}
<canvas id="bar-chart" width="800" height="800" style="border:1px solid #000000;"></canvas>
<script>
    var ctx = document.getElementById('bar-chart').getContext('2d');
    var myChart = new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: {{ labels|tojson }},
      datasets: [
        {
          label: "Rainfall (mm)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: {{ rain|tojson }}
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Rainfall (mm)'
      }
    }
});

</script>
{% endblock content %}